<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- This section defines configuration settings for Entity Framework -->
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<!-- These connection strings define the locations of different databases that the application connects to -->
		<add name="BloodBankDbContext" connectionString="Data Source=Naim;Initial Catalog=BloodBankData;Integrated Security=True"
		  providerName="System.Data.SqlClient" />
		<add name="BloodBankManagementSystem.Properties.Settings.BloodBankManagementSystemConnectionString"
		  connectionString="Data Source=Naim;Initial Catalog=BloodBankManagementSystem;Integrated Security=True"
		  providerName="System.Data.SqlClient" />
		<add name="BloodBankManagementSystem.Properties.Settings.BloodBankDataConnectionString"
		  connectionString="Data Source=Naim;Initial Catalog=BloodBankData;Integrated Security=True"
		  providerName="System.Data.SqlClient" />
		<add name="BloodBankTestDbContext" connectionString="Data Source=Naim;Initial Catalog=BloodBankTestData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<!-- This element specifies the version of the .NET Framework that the application runs on -->
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<entityFramework>
		<!-- This section specifies the provider that is used to connect to SQL Server -->
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>
